<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.WithoutCardAreaConfigMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.czb.bn.entity.entity.withoutCard.WithoutCardAreaConfig" >
    <id column="petrol_config_id" property="petrolConfigId" jdbcType="VARCHAR" />
    <result column="petrol_type" property="petrolType" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="sale_state" property="saleState" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="discount" property="discount" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    petrol_config_id, petrol_type, area, sale_state, create_at, update_at, discount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from czb_without_card_area_config
    where petrol_config_id = #{petrolConfigId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from czb_without_card_area_config
    where petrol_config_id = #{petrolConfigId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.czb.bn.entity.entity.withoutCard.WithoutCardAreaConfig" >
    insert into czb_without_card_area_config (petrol_config_id, petrol_type, area,
      sale_state, create_at, update_at,
      discount)
    values (#{petrolConfigId,jdbcType=VARCHAR}, #{petrolType,jdbcType=INTEGER}, #{area,jdbcType=VARCHAR},
      #{saleState,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP},
      #{discount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.entity.withoutCard.WithoutCardAreaConfig" >
    insert into czb_without_card_area_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="petrolConfigId != null" >
        petrol_config_id,
      </if>
      <if test="petrolType != null" >
        petrol_type,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="saleState != null" >
        sale_state,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="discount != null" >
        discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="petrolConfigId != null" >
        #{petrolConfigId,jdbcType=VARCHAR},
      </if>
      <if test="petrolType != null" >
        #{petrolType,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="saleState != null" >
        #{saleState,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.czb.bn.entity.entity.withoutCard.WithoutCardAreaConfig" >
    update czb_without_card_area_config
    <set >
      <if test="petrolType != null" >
        petrol_type = #{petrolType,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="saleState != null" >
        sale_state = #{saleState,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DOUBLE},
      </if>
    </set>
    where petrol_config_id = #{petrolConfigId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.czb.bn.entity.entity.withoutCard.WithoutCardAreaConfig" >
    update czb_without_card_area_config
    set petrol_type = #{petrolType,jdbcType=INTEGER},
      area = #{area,jdbcType=VARCHAR},
      sale_state = #{saleState,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      discount = #{discount,jdbcType=DOUBLE}
    where petrol_config_id = #{petrolConfigId,jdbcType=VARCHAR}
  </update>
</mapper>