<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.weChatSmallProgram.WeChatCommodityOrderMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.czb.bn.entity.entity.weChatSmallProgram.WeChatCommodityOrder" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="commodity_id" property="commodityId" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="actual_price" property="actualPrice" jdbcType="DOUBLE" />
    <result column="third_order" property="thirdOrder" jdbcType="VARCHAR" />
    <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
    <result column="pay_method" property="payMethod" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="electronic_code" property="electronicCode" jdbcType="VARCHAR" />
    <result column="order_state" property="orderState" jdbcType="INTEGER" />
    <result column="address_id" property="addressId" jdbcType="VARCHAR" />
    <result column="qrcode" property="qrcode" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="commodity_source" property="commoditySource" jdbcType="VARCHAR" />
    <result column="fy_money" property="fyMoney" jdbcType="DOUBLE" />
    <result column="cost_price" property="costPrice" jdbcType="DOUBLE" />
    <result column="commodity_type" property="commodityType" jdbcType="INTEGER" />
    <result column="commmodity_type_id" property="commmodityTypeId" jdbcType="VARCHAR" />
    <result column="processing_time" property="processingTime" jdbcType="TIMESTAMP" />
    <result column="handler" property="handler" jdbcType="VARCHAR" />
    <result column="commodity_num" property="commodityNum" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="is_settlement" property="isSettlement" jdbcType="INTEGER" />
    <result column="is_have_settled" property="isHaveSettled" jdbcType="INTEGER" />
    <result column="settled_record_id" property="settledRecordId" jdbcType="VARCHAR" />
    <result column="attr_info" property="attrInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, user_id, commodity_id, shop_id, actual_price, third_order, pay_status, 
    pay_method, remark, electronic_code, order_state, address_id, qrcode, phone, commodity_source, 
    fy_money, cost_price, commodity_type, commmodity_type_id, processing_time, handler, 
    commodity_num, create_at, update_at, is_settlement, is_have_settled, settled_record_id, 
    attr_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from czb_wechat_commodity_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from czb_wechat_commodity_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.czb.bn.entity.entity.weChatSmallProgram.WeChatCommodityOrder" >
    insert into czb_wechat_commodity_order (order_id, user_id, commodity_id, 
      shop_id, actual_price, third_order, 
      pay_status, pay_method, remark, 
      electronic_code, order_state, address_id, 
      qrcode, phone, commodity_source, 
      fy_money, cost_price, commodity_type, 
      commmodity_type_id, processing_time, handler, 
      commodity_num, create_at, update_at, 
      is_settlement, is_have_settled, settled_record_id, 
      attr_info)
    values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{commodityId,jdbcType=VARCHAR}, 
      #{shopId,jdbcType=VARCHAR}, #{actualPrice,jdbcType=DOUBLE}, #{thirdOrder,jdbcType=VARCHAR}, 
      #{payStatus,jdbcType=INTEGER}, #{payMethod,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{electronicCode,jdbcType=VARCHAR}, #{orderState,jdbcType=INTEGER}, #{addressId,jdbcType=VARCHAR}, 
      #{qrcode,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{commoditySource,jdbcType=VARCHAR}, 
      #{fyMoney,jdbcType=DOUBLE}, #{costPrice,jdbcType=DOUBLE}, #{commodityType,jdbcType=INTEGER}, 
      #{commmodityTypeId,jdbcType=VARCHAR}, #{processingTime,jdbcType=TIMESTAMP}, #{handler,jdbcType=VARCHAR}, 
      #{commodityNum,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{isSettlement,jdbcType=INTEGER}, #{isHaveSettled,jdbcType=INTEGER}, #{settledRecordId,jdbcType=VARCHAR}, 
      #{attrInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.entity.weChatSmallProgram.WeChatCommodityOrder" >
    insert into czb_wechat_commodity_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="actualPrice != null" >
        actual_price,
      </if>
      <if test="thirdOrder != null" >
        third_order,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="payMethod != null" >
        pay_method,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="electronicCode != null" >
        electronic_code,
      </if>
      <if test="orderState != null" >
        order_state,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="qrcode != null" >
        qrcode,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="commoditySource != null" >
        commodity_source,
      </if>
      <if test="fyMoney != null" >
        fy_money,
      </if>
      <if test="costPrice != null" >
        cost_price,
      </if>
      <if test="commodityType != null" >
        commodity_type,
      </if>
      <if test="commmodityTypeId != null" >
        commmodity_type_id,
      </if>
      <if test="processingTime != null" >
        processing_time,
      </if>
      <if test="handler != null" >
        handler,
      </if>
      <if test="commodityNum != null" >
        commodity_num,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="isSettlement != null" >
        is_settlement,
      </if>
      <if test="isHaveSettled != null" >
        is_have_settled,
      </if>
      <if test="settledRecordId != null" >
        settled_record_id,
      </if>
      <if test="attrInfo != null" >
        attr_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="actualPrice != null" >
        #{actualPrice,jdbcType=DOUBLE},
      </if>
      <if test="thirdOrder != null" >
        #{thirdOrder,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="payMethod != null" >
        #{payMethod,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="electronicCode != null" >
        #{electronicCode,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=INTEGER},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="qrcode != null" >
        #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="commoditySource != null" >
        #{commoditySource,jdbcType=VARCHAR},
      </if>
      <if test="fyMoney != null" >
        #{fyMoney,jdbcType=DOUBLE},
      </if>
      <if test="costPrice != null" >
        #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="commodityType != null" >
        #{commodityType,jdbcType=INTEGER},
      </if>
      <if test="commmodityTypeId != null" >
        #{commmodityTypeId,jdbcType=VARCHAR},
      </if>
      <if test="processingTime != null" >
        #{processingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="handler != null" >
        #{handler,jdbcType=VARCHAR},
      </if>
      <if test="commodityNum != null" >
        #{commodityNum,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isSettlement != null" >
        #{isSettlement,jdbcType=INTEGER},
      </if>
      <if test="isHaveSettled != null" >
        #{isHaveSettled,jdbcType=INTEGER},
      </if>
      <if test="settledRecordId != null" >
        #{settledRecordId,jdbcType=VARCHAR},
      </if>
      <if test="attrInfo != null" >
        #{attrInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.czb.bn.entity.entity.weChatSmallProgram.WeChatCommodityOrder" >
    update czb_wechat_commodity_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="actualPrice != null" >
        actual_price = #{actualPrice,jdbcType=DOUBLE},
      </if>
      <if test="thirdOrder != null" >
        third_order = #{thirdOrder,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="payMethod != null" >
        pay_method = #{payMethod,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="electronicCode != null" >
        electronic_code = #{electronicCode,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null" >
        order_state = #{orderState,jdbcType=INTEGER},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="qrcode != null" >
        qrcode = #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="commoditySource != null" >
        commodity_source = #{commoditySource,jdbcType=VARCHAR},
      </if>
      <if test="fyMoney != null" >
        fy_money = #{fyMoney,jdbcType=DOUBLE},
      </if>
      <if test="costPrice != null" >
        cost_price = #{costPrice,jdbcType=DOUBLE},
      </if>
      <if test="commodityType != null" >
        commodity_type = #{commodityType,jdbcType=INTEGER},
      </if>
      <if test="commmodityTypeId != null" >
        commmodity_type_id = #{commmodityTypeId,jdbcType=VARCHAR},
      </if>
      <if test="processingTime != null" >
        processing_time = #{processingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="handler != null" >
        handler = #{handler,jdbcType=VARCHAR},
      </if>
      <if test="commodityNum != null" >
        commodity_num = #{commodityNum,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isSettlement != null" >
        is_settlement = #{isSettlement,jdbcType=INTEGER},
      </if>
      <if test="isHaveSettled != null" >
        is_have_settled = #{isHaveSettled,jdbcType=INTEGER},
      </if>
      <if test="settledRecordId != null" >
        settled_record_id = #{settledRecordId,jdbcType=VARCHAR},
      </if>
      <if test="attrInfo != null" >
        attr_info = #{attrInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.czb.bn.entity.entity.weChatSmallProgram.WeChatCommodityOrder" >
    update czb_wechat_commodity_order
    set user_id = #{userId,jdbcType=VARCHAR},
      commodity_id = #{commodityId,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      actual_price = #{actualPrice,jdbcType=DOUBLE},
      third_order = #{thirdOrder,jdbcType=VARCHAR},
      pay_status = #{payStatus,jdbcType=INTEGER},
      pay_method = #{payMethod,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      electronic_code = #{electronicCode,jdbcType=VARCHAR},
      order_state = #{orderState,jdbcType=INTEGER},
      address_id = #{addressId,jdbcType=VARCHAR},
      qrcode = #{qrcode,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      commodity_source = #{commoditySource,jdbcType=VARCHAR},
      fy_money = #{fyMoney,jdbcType=DOUBLE},
      cost_price = #{costPrice,jdbcType=DOUBLE},
      commodity_type = #{commodityType,jdbcType=INTEGER},
      commmodity_type_id = #{commmodityTypeId,jdbcType=VARCHAR},
      processing_time = #{processingTime,jdbcType=TIMESTAMP},
      handler = #{handler,jdbcType=VARCHAR},
      commodity_num = #{commodityNum,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      is_settlement = #{isSettlement,jdbcType=INTEGER},
      is_have_settled = #{isHaveSettled,jdbcType=INTEGER},
      settled_record_id = #{settledRecordId,jdbcType=VARCHAR},
      attr_info = #{attrInfo,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>