<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.weChatSmallProgram.WechatSettleRecordMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.czb.bn.entity.entity.weChatSmallProgram.WechatSettleRecord" >
    <id column="record_id" property="recordId" jdbcType="VARCHAR" />
    <result column="settle_user_id" property="settleUserId" jdbcType="VARCHAR" />
    <result column="settled_user_id" property="settledUserId" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DOUBLE" />
    <result column="settle_time" property="settleTime" jdbcType="TIMESTAMP" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    record_id, settle_user_id, settled_user_id, shop_id, total_amount, settle_time, create_at, 
    update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from czb_wechat_settle_record
    where record_id = #{recordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from czb_wechat_settle_record
    where record_id = #{recordId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.czb.bn.entity.entity.weChatSmallProgram.WechatSettleRecord" >
    insert into czb_wechat_settle_record (record_id, settle_user_id, settled_user_id, 
      shop_id, total_amount, settle_time, 
      create_at, update_at)
    values (#{recordId,jdbcType=VARCHAR}, #{settleUserId,jdbcType=VARCHAR}, #{settledUserId,jdbcType=VARCHAR}, 
      #{shopId,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DOUBLE}, #{settleTime,jdbcType=TIMESTAMP}, 
      #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.entity.weChatSmallProgram.WechatSettleRecord" >
    insert into czb_wechat_settle_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        record_id,
      </if>
      <if test="settleUserId != null" >
        settle_user_id,
      </if>
      <if test="settledUserId != null" >
        settled_user_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="settleTime != null" >
        settle_time,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="settleUserId != null" >
        #{settleUserId,jdbcType=VARCHAR},
      </if>
      <if test="settledUserId != null" >
        #{settledUserId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="settleTime != null" >
        #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.czb.bn.entity.entity.weChatSmallProgram.WechatSettleRecord" >
    update czb_wechat_settle_record
    <set >
      <if test="settleUserId != null" >
        settle_user_id = #{settleUserId,jdbcType=VARCHAR},
      </if>
      <if test="settledUserId != null" >
        settled_user_id = #{settledUserId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="settleTime != null" >
        settle_time = #{settleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.czb.bn.entity.entity.weChatSmallProgram.WechatSettleRecord" >
    update czb_wechat_settle_record
    set settle_user_id = #{settleUserId,jdbcType=VARCHAR},
      settled_user_id = #{settledUserId,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DOUBLE},
      settle_time = #{settleTime,jdbcType=TIMESTAMP},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where record_id = #{recordId,jdbcType=VARCHAR}
  </update>
</mapper>