<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.petrolCoupons.PetrolCouponsSalesRecordsMapper" >
  <select id="selectPetrolCouponsSalesRecords" resultType="com.cqut.czb.bn.entity.entity.petrolCoupons.PetrolCouponsSalesRecords" parameterType="com.cqut.czb.bn.entity.dto.petrolSaleInfo.GetPetrolSaleInfoInputDTO" >
    SELECT
    t2.user_account 'owner',
    t1.transaction_time transactionTime,
    t1.payment_method paymentMethod,
    t1.turnover_amount turnoverAmount,
    t3.area area,
    t1.current_price petrolPrice,
    t1.denomination petrolDenomination,
    t1.petrol_kind petrolKind,
    t1.petrol_num petrolNum,
    t1.create_at createAt,
    t1.record_type recordType,
    t3.remark remark,
    t1.third_order_id thirdOrderId,
    t3.owner_id ownerId,
    t4.to_rdd_out_trade_no toRddOutTradeNo,
    t4.to_rdd_third_order_id toRddThirdOrderId,
    t4.to_rdd_turnover_amount toRddTurnoverAmount,
    t4.to_rdd_transaction_time toRddTransactionTime,
    t4.to_rdd_state toRddState,
    t4.unit_price unitPrice,
    t4.to_lu_pay_start_time toLuPayStartTime,
    t4.to_lu_pay_end_time toLuPayEndTime,
    t4.to_lu_pay_state toLuPayState,
    t4.to_rdd_out_id toRddOutId,
    t4.return_order_id returnOrderId,
    t4.trading_id tradingId,
    t4.order_id orderId,
    t4.order_info orderInfo
    FROM
    (
    SELECT
    *
    FROM
    czb_petrol_sales_records AS records
    <where>
      <if test="paymentMethod != null and paymentMethod != ''">
        and records.payment_method like concat('%',#{paymentMethod,jdbcType=INTEGER},'%')
      </if>
      <if test="petrolKind != null and petrolKind != ''">
        and records.petrol_kind = #{petrolKind,jdbcType = INTEGER}
      </if>
      <if test="startTime != null and endTime != null">
        and records.create_at &gt;= #{startTime,jdbcType=TIMESTAMP}
        and records.create_at &lt;= #{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="petrolNum != null and petrolNum != ''">
        AND records.petrol_num like concat('%',#{petrolNum,jdbcType=VARCHAR},'%')
      </if>
      <if test="petrolPrice != null and petrolPrice != ''">
        AND records.current_price =#{petrolPrice,jdbcType = DOUBLE}
      </if>
      <if test="petrolDenomination != null and petrolDenomination != '' ">
        AND records.denomination = #{petrolDenomination,jdbcType = DOUBLE}
      </if>
      <if test="petrolKind != null and petrolKind != '' ">
        and records.petrol_kind = #{petrolKind,jdbcType = VARCHAR}
      </if>
      <if test="recordType == 0 || recordType != null">
        and records.record_type = #{recordType}
      </if>
      <if test="thirdOrderId != null and thirdOrderId != '' ">
        and records.third_order_id like concat('%',#{thirdOrderId, jdbcType=VARCHAR},'%')
      </if>
      <if test="bindingType != null and bindingType == 2">
        AND records.petrol_num like 'RDD%'
      </if>
      <if test="bindingType != null and bindingType == 1">
        AND records.petrol_num like 'S%'
      </if>
      <if test="bindingType != null and bindingType == 3">
        AND (records.petrol_num like 'RDD%' OR records.petrol_num like 'S%')
      </if>
      and state = 1
    </where>
    ) AS t1
    INNER JOIN (
    SELECT
    _user.user_id,
    _user.user_account
    FROM
    czb_user AS _user
    <where>
      <if test="owner != null and owner != ''">
        and _user.user_account like concat('%',#{owner,jdbcType = VARCHAR},'%')
      </if>
    </where>
    ) AS t2 ON t1.buyer_id = t2.user_id
    INNER JOIN (
    SELECT
    *
    FROM
    czb_petrol_coupons_sales_records
    ) AS t4 ON t4.buyer_id = t1.buyer_id
    INNER JOIN (
    SELECT
    *
    FROM
    czb_petrol AS petrol
    <where>
      <if test="area != null and area !=''">
        AND petrol.area like concat('%',#{area,jdbcType=VARCHAR},'%')
      </if>
    </where>
    ) AS t3 ON t3.petrol_id = t1.petrol_id order by t1.create_at desc
  </select>

  <select id="getPetrolCouponsSaleMoneyCount" resultType="java.lang.String" parameterType="com.cqut.czb.bn.entity.dto.petrolSaleInfo.GetPetrolSaleInfoInputDTO" >
    SELECT
    sum(t1.turnover_amount)
    FROM
    (
    SELECT
    *
    FROM
    czb_petrol_sales_records AS records
    <where>
      <if test="paymentMethod != null and paymentMethod != ''">
        and records.payment_method like concat('%',#{paymentMethod,jdbcType=INTEGER},'%')
      </if>
      <if test="petrolKind != null and petrolKind != ''">
        and records.petrol_kind = #{petrolKind,jdbcType = INTEGER}
      </if>
      <if test="startTime != null and endTime != null">
        and records.create_at &gt;= #{startTime,jdbcType=TIMESTAMP}
        and records.create_at &lt;= #{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="petrolNum != null and petrolNum != ''">
        AND records.petrol_num like concat('%',#{petrolNum,jdbcType=VARCHAR},'%')
      </if>
      <if test="petrolPrice != null and petrolPrice != ''">
        AND records.current_price =#{petrolPrice,jdbcType = DOUBLE}
      </if>
      <if test="petrolDenomination != null and petrolDenomination != '' ">
        AND records.denomination = #{petrolDenomination,jdbcType = DOUBLE}
      </if>
      <if test="petrolKind != null and petrolKind != '' ">
        and records.petrol_kind = #{petrolKind,jdbcType = VARCHAR}
      </if>
      <if test="recordType == 0 || recordType != null">
        and records.record_type = #{recordType}
      </if>
      <if test="thirdOrderId != null and thirdOrderId != '' ">
        and records.third_order_id like concat('%',#{thirdOrderId, jdbcType=VARCHAR},'%')
      </if>
      <if test="bindingType != null and bindingType == 2">
        AND records.petrol_num like 'RDD%'
      </if>
      <if test="bindingType != null and bindingType == 1">
        AND records.petrol_num like 'S%'
      </if>
      <if test="bindingType != null and bindingType == 3">
        AND (records.petrol_num like 'RDD%' OR records.petrol_num like 'S%')
      </if>
      and state = 1
    </where>
    ) AS t1
    INNER JOIN (
    SELECT
    _user.user_id,
    _user.user_account
    FROM
    czb_user AS _user
    <where>
      <if test="owner != null and owner != ''">
        and _user.user_account like concat('%',#{owner,jdbcType = VARCHAR},'%')
      </if>
    </where>
    ) AS t2 ON t1.buyer_id = t2.user_id
    INNER JOIN (
    SELECT
    *
    FROM
    czb_petrol_coupons_sales_records
    ) AS t4 ON t4.buyer_id = t1.buyer_id
    INNER JOIN (
    SELECT
    *
    FROM
    czb_petrol AS petrol
    <where>
      <if test="area != null and area !=''">
        AND petrol.area like concat('%',#{area,jdbcType=VARCHAR},'%')
      </if>
    </where>
    ) AS t3 ON t3.petrol_id = t1.petrol_id order by t1.create_at desc
  </select>
</mapper>