<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.AutomaticRechargeMapperExtra" >
    <select id="getAutoList" resultType="com.cqut.czb.bn.entity.dto.automaticRecharge.AutomaticRechargeDTO" parameterType="com.cqut.czb.bn.entity.dto.automaticRecharge.AutomaticRechargeDTO">
        select a.auto_recharge_record_id id,
            a.petrol_num petrolNum,
            a.recharge_amount rechargeAmount,
            a.price price,
            a.status status,
            a.message message,
            a.recharge_time rechargeTime,
            a.order_time orderTime,
            a.create_at createAt,
            a.update_at updateAt,
            a.user_id userId,
            a.user_name userName,
            b.user_account userAccount
        from czb_auto_recharge_record as a LEFT JOIN czb_user as b on b.user_id = a.user_id
        <where>
            <if test="isSpecial!= null">
                b.is_special = #{isSpecial}
            </if>
            <if test="petrolNum!= null and petrolNum!= ''">
                a.petrol_num = #{petrolNum}
            </if>
            <if test="userAccount!=null and userAccount != ''">
                AND  b.user_account like concat('%', #{userAccount},'%')
            </if>
            <if test="userName != null and userName != ''">
                AND  a.user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                AND ( a.recharge_time BETWEEN #{startTime} AND #{endTime} )
            </if>
            <if test="status != null">
                AND a.status = #{status,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY
            a.update_at DESC
    </select>

    <delete id="deleteRecorder">
        delete from czb_auto_recharge_record
        where auto_recharge_record_id = #{id}
    </delete>

    <select id="showRecorder" resultType="com.cqut.czb.bn.entity.dto.automaticRecharge.AutomaticRechargeDTO">
       select a.auto_recharge_record_id id,
            a.petrol_num petrolNum,
            a.recharge_amount rechargeAmount,
            a.price price,
            a.status status,
            a.message message,
            a.recharge_time rechargeTime,
            a.order_time orderTime,
            a.create_at createAt,
            a.update_at updateAt,
            a.user_id userId,
            a.user_name userName,
            b.user_account userAccount
        from czb_auto_recharge_record as a LEFT JOIN czb_user as b on b.user_id = a.user_id
        where a.auto_recharge_record_id = #{id}
    </select>

    <update id="editRecorder" parameterType="com.cqut.czb.bn.entity.dto.automaticRecharge.AutomaticRechargeDTO">
        update czb_auto_recharge_record
        set petrol_num = #{petrolNum},
        recharge_amount = #{rechargeAmount},
        price = #{price},
        status = #{status},
        message = #{message}
        where auto_recharge_record_id = #{id}
    </update>

    <select id="getSumData" parameterType="com.cqut.czb.bn.entity.dto.automaticRecharge.AutomaticRechargeDTO" resultType="com.cqut.czb.bn.entity.dto.automaticRecharge.SumAutoRecharge">
        select COUNT(auto_recharge_record_id) as sumPeople
        from czb_auto_recharge_record as a LEFT JOIN czb_user as b on b.user_id = a.user_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                 (a.recharge_time BETWEEN #{startTime} AND #{endTime} )
            </if>
            <if test=" status != null">
            and a.status = #{status,jdbcType=INTEGER}
            </if>
            <if test="isSpecial!= null">
                and b.is_special = #{isSpecial}
            </if>
        </where>
    </select>
    <select id="getSuccessPeople" parameterType="com.cqut.czb.bn.entity.dto.automaticRecharge.AutomaticRechargeDTO" resultType="com.cqut.czb.bn.entity.dto.automaticRecharge.SumAutoRecharge">
        select count(status) as successPeople,
        SUM(recharge_amount) as sumRechargeAmount ,
        SUM(price) as sumPrice from czb_auto_recharge_record as a LEFT JOIN czb_user as b on b.user_id = a.user_id
        <where>
            <if test="startTime!= null and startTime!= '' and endTime!= null and endTime!= ''">
                 (a.recharge_time BETWEEN #{startTime} AND #{endTime}  )
            </if>
            <if test="status ==  null or status ==  1">
                AND a.status = 1
            </if>
            <if test="status == 0">
                AND a.status = 0
            </if>
            <if test="isSpecial!= null">
                and b.is_special = #{isSpecial}
            </if>
        </where>
    </select>

    <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.dto.AutoRechargeLoginResult.AutoRechargeRecordDTO" >
        insert into czb_auto_recharge_record
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="autoRechargeRecordId != null" >
                auto_recharge_record_id,
            </if>
            <if test="petrolNum != null" >
                petrol_num,
            </if>
            <if test="rechargeAmount != null" >
                recharge_amount,
            </if>
            <if test="price != null" >
                price,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="message != null" >
                message,
            </if>
            <if test="rechargeTime != null" >
                recharge_time,
            </if>
            <if test="orderTime != null" >
                order_time,
            </if>
            <if test="createAt != null" >
                create_at,
            </if>
            <if test="updateAt != null" >
                update_at,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="autoRechargeRecordId != null" >
                #{autoRechargeRecordId,jdbcType=VARCHAR},
            </if>
            <if test="petrolNum != null" >
                #{petrolNum,jdbcType=VARCHAR},
            </if>
            <if test="rechargeAmount != null" >
                #{rechargeAmount,jdbcType=DOUBLE},
            </if>
            <if test="price != null" >
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="message != null" >
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="rechargeTime != null" >
                #{rechargeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderTime != null" >
                #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createAt != null" >
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null" >
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>
