<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.CommodityUserInfoCollectionMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.czb.bn.entity.entity.CommodityUserInfoCollection" >
    <id column="info_id" property="infoId" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="commodity_id" property="commodityId" jdbcType="VARCHAR" />
    <result column="info_title" property="infoTitle" jdbcType="VARCHAR" />
    <result column="info_content" property="infoContent" jdbcType="VARCHAR" />
    <result column="info_code" property="infoCode" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    info_id, shop_id, commodity_id, info_title, info_content, info_code, create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from czb_commodity_user_info_collection
    where info_id = #{infoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from czb_commodity_user_info_collection
    where info_id = #{infoId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.czb.bn.entity.dto.Commodity.CommodityUserInfoCollectionDTO" >
    insert into czb_commodity_user_info_collection (info_id, shop_id, commodity_id, 
      info_title, info_content, info_code, 
      create_at, update_at)
    values <foreach collection="array" item="item" index="index" separator=",">
    (
    #{item.info_id,jdbcType = VARCHAR},
    #{item.shop_id,jdbcType = VARCHAR},
    #{item.commodity_id,jdbcType = VARCHAR},
    #{item.info_title,jdbcType = VARCHAR},
    #{item.info_content,jdbcType = VARCHAR},
    #{item.info_code,jdbcType = VARCHAR},
    #{item.create_at,jdbcType = TIMESTAMP},
    #{item.update_at,jdbcType = TIMESTAMP},
    )
  </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.entity.CommodityUserInfoCollection" >
    insert into czb_commodity_user_info_collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="infoTitle != null" >
        info_title,
      </if>
      <if test="infoContent != null" >
        info_content,
      </if>
      <if test="infoCode != null" >
        info_code,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="infoId != null" >
        #{infoId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="infoTitle != null" >
        #{infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="infoContent != null" >
        #{infoContent,jdbcType=VARCHAR},
      </if>
      <if test="infoCode != null" >
        #{infoCode,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.czb.bn.entity.entity.CommodityUserInfoCollection" >
    update czb_commodity_user_info_collection
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="infoTitle != null" >
        info_title = #{infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="infoContent != null" >
        info_content = #{infoContent,jdbcType=VARCHAR},
      </if>
      <if test="infoCode != null" >
        info_code = #{infoCode,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where info_id = #{infoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.czb.bn.entity.entity.CommodityUserInfoCollection" >
    update czb_commodity_user_info_collection
    set shop_id = #{shopId,jdbcType=VARCHAR},
      commodity_id = #{commodityId,jdbcType=VARCHAR},
      info_title = #{infoTitle,jdbcType=VARCHAR},
      info_content = #{infoContent,jdbcType=VARCHAR},
      info_code = #{infoCode,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where info_id = #{infoId,jdbcType=VARCHAR}
  </update>
</mapper>