<?xml version="1.1" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqut.czb.bn.dao.mapper.ContractMapper">

    <update id="insertUserContractYunId" parameterType="java.lang.String">
        UPDATE czb_user
        SET  user_yun_id = #{userYunId}
        WHERE user_id = #{userId}
    </update>

    <update id="insertEnterpriseContractYunId">
        UPDATE czb_enterprise_info
        SET enterprise_yun_id = #{enterpriseYunId}
        WHERE enterprise_info_id = #{enterpriseId}
    </update>

    <select id="getEnterpriseId" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT enterprise_info_id
        FROM czb_enterprise_info
        WHERE user_id = #{userId}
    </select>

</mapper>