<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.ContractYunInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.czb.bn.entity.entity.ContractYunInfo" >
    <id column="yun_contract_id" property="yunContractId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="contract_id" property="contractId" jdbcType="VARCHAR" />
    <result column="cz_id" property="czId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    yun_contract_id, user_id, contract_id, cz_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from czb_contract_yun_info
    where yun_contract_id = #{yunContractId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from czb_contract_yun_info
    where yun_contract_id = #{yunContractId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.czb.bn.entity.entity.ContractYunInfo" >
    insert into czb_contract_yun_info (yun_contract_id, user_id, contract_id, 
      cz_id)
    values (#{yunContractId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{contractId,jdbcType=VARCHAR}, 
      #{czId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.entity.ContractYunInfo" >
    insert into czb_contract_yun_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="yunContractId != null" >
        yun_contract_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="contractId != null" >
        contract_id,
      </if>
      <if test="czId != null" >
        cz_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="yunContractId != null" >
        #{yunContractId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null" >
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="czId != null" >
        #{czId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.czb.bn.entity.entity.ContractYunInfo" >
    update czb_contract_yun_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null" >
        contract_id = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="czId != null" >
        cz_id = #{czId,jdbcType=VARCHAR},
      </if>
    </set>
    where yun_contract_id = #{yunContractId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.czb.bn.entity.entity.ContractYunInfo" >
    update czb_contract_yun_info
    set user_id = #{userId,jdbcType=VARCHAR},
      contract_id = #{contractId,jdbcType=VARCHAR},
      cz_id = #{czId,jdbcType=VARCHAR}
    where yun_contract_id = #{yunContractId,jdbcType=VARCHAR}
  </update>
</mapper>