<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.ContractRecordsMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.czb.bn.entity.entity.ContractRecords" >
    <id column="record_id" property="recordId" jdbcType="VARCHAR" />
    <result column="signed_time" property="signedTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="contract_start_time" property="contractStartTime" jdbcType="TIMESTAMP" />
    <result column="contract_end_time" property="contractEndTime" jdbcType="TIMESTAMP" />
    <result column="contract_state" property="contractState" jdbcType="INTEGER" />
    <result column="contract_type" property="contractType" jdbcType="INTEGER" />
    <result column="rent" property="rent" jdbcType="DOUBLE" />
    <result column="third_contract_num" property="thirdContractNum" jdbcType="VARCHAR" />
    <result column="got_total_money" property="gotTotalMoney" jdbcType="DOUBLE" />
    <result column="judge_user_id" property="judgeUserId" jdbcType="VARCHAR" />
    <result column="judge_time" property="judgeTime" jdbcType="TIMESTAMP" />
    <result column="pay_total_money" property="payTotalMoney" jdbcType="DOUBLE" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="contract_father_id" property="contractFatherId" jdbcType="VARCHAR" />
    <result column="witness_id" property="witnessId" jdbcType="VARCHAR" />
    <result column="bank_of_deposit" property="bankOfDeposit" jdbcType="VARCHAR" />
    <result column="bank_account_num" property="bankAccountNum" jdbcType="VARCHAR" />
    <result column="bank_user_name" property="bankUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    record_id, signed_time, user_id, contract_start_time, contract_end_time, contract_state, 
    contract_type, rent, third_contract_num, got_total_money, judge_user_id, judge_time, 
    pay_total_money, create_at, update_at, contract_father_id, witness_id, bank_of_deposit, 
    bank_account_num, bank_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from czb_contract_records
    where record_id = #{recordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from czb_contract_records
    where record_id = #{recordId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.czb.bn.entity.entity.ContractRecords" >
    insert into czb_contract_records (record_id, signed_time, user_id, 
      contract_start_time, contract_end_time, 
      contract_state, contract_type, rent, 
      third_contract_num, got_total_money, judge_user_id, 
      judge_time, pay_total_money, create_at, 
      update_at, contract_father_id, witness_id, 
      bank_of_deposit, bank_account_num, bank_user_name
      )
    values (#{recordId,jdbcType=VARCHAR}, #{signedTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, 
      #{contractStartTime,jdbcType=TIMESTAMP}, #{contractEndTime,jdbcType=TIMESTAMP}, 
      #{contractState,jdbcType=INTEGER}, #{contractType,jdbcType=INTEGER}, #{rent,jdbcType=DOUBLE}, 
      #{thirdContractNum,jdbcType=VARCHAR}, #{gotTotalMoney,jdbcType=DOUBLE}, #{judgeUserId,jdbcType=VARCHAR}, 
      #{judgeTime,jdbcType=TIMESTAMP}, #{payTotalMoney,jdbcType=DOUBLE}, #{createAt,jdbcType=TIMESTAMP}, 
      #{updateAt,jdbcType=TIMESTAMP}, #{contractFatherId,jdbcType=VARCHAR}, #{witnessId,jdbcType=VARCHAR}, 
      #{bankOfDeposit,jdbcType=VARCHAR}, #{bankAccountNum,jdbcType=VARCHAR}, #{bankUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.entity.ContractRecords" >
    insert into czb_contract_records
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        record_id,
      </if>
      <if test="signedTime != null" >
        signed_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="contractStartTime != null" >
        contract_start_time,
      </if>
      <if test="contractEndTime != null" >
        contract_end_time,
      </if>
      <if test="contractState != null" >
        contract_state,
      </if>
      <if test="contractType != null" >
        contract_type,
      </if>
      <if test="rent != null" >
        rent,
      </if>
      <if test="thirdContractNum != null" >
        third_contract_num,
      </if>
      <if test="gotTotalMoney != null" >
        got_total_money,
      </if>
      <if test="judgeUserId != null" >
        judge_user_id,
      </if>
      <if test="judgeTime != null" >
        judge_time,
      </if>
      <if test="payTotalMoney != null" >
        pay_total_money,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="contractFatherId != null" >
        contract_father_id,
      </if>
      <if test="witnessId != null" >
        witness_id,
      </if>
      <if test="bankOfDeposit != null" >
        bank_of_deposit,
      </if>
      <if test="bankAccountNum != null" >
        bank_account_num,
      </if>
      <if test="bankUserName != null" >
        bank_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="signedTime != null" >
        #{signedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="contractStartTime != null" >
        #{contractStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractEndTime != null" >
        #{contractEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractState != null" >
        #{contractState,jdbcType=INTEGER},
      </if>
      <if test="contractType != null" >
        #{contractType,jdbcType=INTEGER},
      </if>
      <if test="rent != null" >
        #{rent,jdbcType=DOUBLE},
      </if>
      <if test="thirdContractNum != null" >
        #{thirdContractNum,jdbcType=VARCHAR},
      </if>
      <if test="gotTotalMoney != null" >
        #{gotTotalMoney,jdbcType=DOUBLE},
      </if>
      <if test="judgeUserId != null" >
        #{judgeUserId,jdbcType=VARCHAR},
      </if>
      <if test="judgeTime != null" >
        #{judgeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTotalMoney != null" >
        #{payTotalMoney,jdbcType=DOUBLE},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="contractFatherId != null" >
        #{contractFatherId,jdbcType=VARCHAR},
      </if>
      <if test="witnessId != null" >
        #{witnessId,jdbcType=VARCHAR},
      </if>
      <if test="bankOfDeposit != null" >
        #{bankOfDeposit,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountNum != null" >
        #{bankAccountNum,jdbcType=VARCHAR},
      </if>
      <if test="bankUserName != null" >
        #{bankUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.czb.bn.entity.entity.ContractRecords" >
    update czb_contract_records
    <set >
      <if test="signedTime != null" >
        signed_time = #{signedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="contractStartTime != null" >
        contract_start_time = #{contractStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractEndTime != null" >
        contract_end_time = #{contractEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractState != null" >
        contract_state = #{contractState,jdbcType=INTEGER},
      </if>
      <if test="contractType != null" >
        contract_type = #{contractType,jdbcType=INTEGER},
      </if>
      <if test="rent != null" >
        rent = #{rent,jdbcType=DOUBLE},
      </if>
      <if test="thirdContractNum != null" >
        third_contract_num = #{thirdContractNum,jdbcType=VARCHAR},
      </if>
      <if test="gotTotalMoney != null" >
        got_total_money = #{gotTotalMoney,jdbcType=DOUBLE},
      </if>
      <if test="judgeUserId != null" >
        judge_user_id = #{judgeUserId,jdbcType=VARCHAR},
      </if>
      <if test="judgeTime != null" >
        judge_time = #{judgeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTotalMoney != null" >
        pay_total_money = #{payTotalMoney,jdbcType=DOUBLE},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="contractFatherId != null" >
        contract_father_id = #{contractFatherId,jdbcType=VARCHAR},
      </if>
      <if test="witnessId != null" >
        witness_id = #{witnessId,jdbcType=VARCHAR},
      </if>
      <if test="bankOfDeposit != null" >
        bank_of_deposit = #{bankOfDeposit,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountNum != null" >
        bank_account_num = #{bankAccountNum,jdbcType=VARCHAR},
      </if>
      <if test="bankUserName != null" >
        bank_user_name = #{bankUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.czb.bn.entity.entity.ContractRecords" >
    update czb_contract_records
    set signed_time = #{signedTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      contract_start_time = #{contractStartTime,jdbcType=TIMESTAMP},
      contract_end_time = #{contractEndTime,jdbcType=TIMESTAMP},
      contract_state = #{contractState,jdbcType=INTEGER},
      contract_type = #{contractType,jdbcType=INTEGER},
      rent = #{rent,jdbcType=DOUBLE},
      third_contract_num = #{thirdContractNum,jdbcType=VARCHAR},
      got_total_money = #{gotTotalMoney,jdbcType=DOUBLE},
      judge_user_id = #{judgeUserId,jdbcType=VARCHAR},
      judge_time = #{judgeTime,jdbcType=TIMESTAMP},
      pay_total_money = #{payTotalMoney,jdbcType=DOUBLE},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      contract_father_id = #{contractFatherId,jdbcType=VARCHAR},
      witness_id = #{witnessId,jdbcType=VARCHAR},
      bank_of_deposit = #{bankOfDeposit,jdbcType=VARCHAR},
      bank_account_num = #{bankAccountNum,jdbcType=VARCHAR},
      bank_user_name = #{bankUserName,jdbcType=VARCHAR}
    where record_id = #{recordId,jdbcType=VARCHAR}
  </update>
</mapper>