<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.DepositRecordsMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.czb.bn.entity.entity.DepositRecords" >
    <id column="record_id" property="recordId" jdbcType="VARCHAR" />
    <result column="payer" property="payer" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="is_recharged" property="isRecharged" jdbcType="INTEGER" />
    <result column="payer_id" property="payerId" jdbcType="VARCHAR" />
    <result column="ctreate_at" property="ctreateAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    record_id, payer, pay_time, amount, is_recharged, payer_id, ctreate_at, update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from czb_deposit_records
    where record_id = #{recordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from czb_deposit_records
    where record_id = #{recordId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.czb.bn.entity.entity.DepositRecords" >
    insert into czb_deposit_records (record_id, payer, pay_time, 
      amount, is_recharged, payer_id, 
      ctreate_at, update_at)
    values (#{recordId,jdbcType=VARCHAR}, #{payer,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, 
      #{amount,jdbcType=DOUBLE}, #{isRecharged,jdbcType=INTEGER}, #{payerId,jdbcType=VARCHAR}, 
      #{ctreateAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.entity.DepositRecords" >
    insert into czb_deposit_records
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        record_id,
      </if>
      <if test="payer != null" >
        payer,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="isRecharged != null" >
        is_recharged,
      </if>
      <if test="payerId != null" >
        payer_id,
      </if>
      <if test="ctreateAt != null" >
        ctreate_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="payer != null" >
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="isRecharged != null" >
        #{isRecharged,jdbcType=INTEGER},
      </if>
      <if test="payerId != null" >
        #{payerId,jdbcType=VARCHAR},
      </if>
      <if test="ctreateAt != null" >
        #{ctreateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.czb.bn.entity.entity.DepositRecords" >
    update czb_deposit_records
    <set >
      <if test="payer != null" >
        payer = #{payer,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="isRecharged != null" >
        is_recharged = #{isRecharged,jdbcType=INTEGER},
      </if>
      <if test="payerId != null" >
        payer_id = #{payerId,jdbcType=VARCHAR},
      </if>
      <if test="ctreateAt != null" >
        ctreate_at = #{ctreateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.czb.bn.entity.entity.DepositRecords" >
    update czb_deposit_records
    set payer = #{payer,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      amount = #{amount,jdbcType=DOUBLE},
      is_recharged = #{isRecharged,jdbcType=INTEGER},
      payer_id = #{payerId,jdbcType=VARCHAR},
      ctreate_at = #{ctreateAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where record_id = #{recordId,jdbcType=VARCHAR}
  </update>
</mapper>