<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.PartnerChangeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.czb.bn.entity.entity.PartnerChangeRecord" >
    <id column="record_id" property="recordId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="before_change_level" property="beforeChangeLevel" jdbcType="INTEGER" />
    <result column="after_change_level" property="afterChangeLevel" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    record_id, user_id, before_change_level, after_change_level, create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from czb_partner_change_record
    where record_id = #{recordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from czb_partner_change_record
    where record_id = #{recordId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.czb.bn.entity.entity.PartnerChangeRecord" >
    insert into czb_partner_change_record (record_id, user_id, before_change_level, 
      after_change_level, create_at, update_at
      )
    values (#{recordId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{beforeChangeLevel,jdbcType=INTEGER}, 
      #{afterChangeLevel,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.entity.PartnerChangeRecord" >
    insert into czb_partner_change_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        record_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="beforeChangeLevel != null" >
        before_change_level,
      </if>
      <if test="afterChangeLevel != null" >
        after_change_level,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="beforeChangeLevel != null" >
        #{beforeChangeLevel,jdbcType=INTEGER},
      </if>
      <if test="afterChangeLevel != null" >
        #{afterChangeLevel,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.czb.bn.entity.entity.PartnerChangeRecord" >
    update czb_partner_change_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="beforeChangeLevel != null" >
        before_change_level = #{beforeChangeLevel,jdbcType=INTEGER},
      </if>
      <if test="afterChangeLevel != null" >
        after_change_level = #{afterChangeLevel,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.czb.bn.entity.entity.PartnerChangeRecord" >
    update czb_partner_change_record
    set user_id = #{userId,jdbcType=VARCHAR},
      before_change_level = #{beforeChangeLevel,jdbcType=INTEGER},
      after_change_level = #{afterChangeLevel,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where record_id = #{recordId,jdbcType=VARCHAR}
  </update>
</mapper>