<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.VipAreaConfigMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.czb.bn.entity.entity.VipAreaConfig" >
    <id column="vip_area_config_id" property="vipAreaConfigId" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="vip_state" property="vipState" jdbcType="INTEGER" />
    <result column="vip_price" property="vipPrice" jdbcType="DOUBLE" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="fy_rate" property="fyRate" jdbcType="DOUBLE" />
    <result column="fy_one" property="fyOne" jdbcType="DOUBLE" />
    <result column="fy_two" property="fyTwo" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    vip_area_config_id, area, vip_state, vip_price, create_at, update_at, fy_rate, fy_one, 
    fy_two
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from czb_vip_area_config
    where vip_area_config_id = #{vipAreaConfigId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from czb_vip_area_config
    where vip_area_config_id = #{vipAreaConfigId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.czb.bn.entity.entity.VipAreaConfig" >
    insert into czb_vip_area_config (vip_area_config_id, area, vip_state, 
      vip_price, create_at, update_at, 
      fy_rate, fy_one, fy_two)
    values (#{vipAreaConfigId,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{vipState,jdbcType=INTEGER}, 
      #{vipPrice,jdbcType=DOUBLE}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{fyRate,jdbcType=DOUBLE}, #{fyOne,jdbcType=DOUBLE}, #{fyTwo,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.entity.VipAreaConfig" >
    insert into czb_vip_area_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vipAreaConfigId != null" >
        vip_area_config_id,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="vipState != null" >
        vip_state,
      </if>
      <if test="vipPrice != null" >
        vip_price,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="fyRate != null" >
        fy_rate,
      </if>
      <if test="fyOne != null" >
        fy_one,
      </if>
      <if test="fyTwo != null" >
        fy_two,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vipAreaConfigId != null" >
        #{vipAreaConfigId,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="vipState != null" >
        #{vipState,jdbcType=INTEGER},
      </if>
      <if test="vipPrice != null" >
        #{vipPrice,jdbcType=DOUBLE},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="fyRate != null" >
        #{fyRate,jdbcType=DOUBLE},
      </if>
      <if test="fyOne != null" >
        #{fyOne,jdbcType=DOUBLE},
      </if>
      <if test="fyTwo != null" >
        #{fyTwo,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.czb.bn.entity.entity.VipAreaConfig" >
    update czb_vip_area_config
    <set >
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="vipState != null" >
        vip_state = #{vipState,jdbcType=INTEGER},
      </if>
      <if test="vipPrice != null" >
        vip_price = #{vipPrice,jdbcType=DOUBLE},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="fyRate != null" >
        fy_rate = #{fyRate,jdbcType=DOUBLE},
      </if>
      <if test="fyOne != null" >
        fy_one = #{fyOne,jdbcType=DOUBLE},
      </if>
      <if test="fyTwo != null" >
        fy_two = #{fyTwo,jdbcType=DOUBLE},
      </if>
    </set>
    where vip_area_config_id = #{vipAreaConfigId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.czb.bn.entity.entity.VipAreaConfig" >
    update czb_vip_area_config
    set area = #{area,jdbcType=VARCHAR},
      vip_state = #{vipState,jdbcType=INTEGER},
      vip_price = #{vipPrice,jdbcType=DOUBLE},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      fy_rate = #{fyRate,jdbcType=DOUBLE},
      fy_one = #{fyOne,jdbcType=DOUBLE},
      fy_two = #{fyTwo,jdbcType=DOUBLE}
    where vip_area_config_id = #{vipAreaConfigId,jdbcType=VARCHAR}
  </update>
</mapper>