<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.h5Stock.H5StockMapper">

    <select id="h5StockList" parameterType="com.cqut.czb.bn.entity.dto.H5StockDTO"
            resultType="com.cqut.czb.bn.entity.dto.H5StockDTO">
        select
         czb_h5_stock.stock_id stockId,
         czb_h5_stock.commodity_id commodityId,
		 commodity_title commodityTitle,
         czb_h5_stock.content,
         czb_h5_stock.state,
         czb_h5_stock.create_at createAt,
         czb_h5_stock.update_at updateAt,
         czb_h5_stock.record_type recordType,
         czb_h5_stock.user_id userId,
         czb_h5_stock.price,
         czb_h5_stock.third_order thirdOrder
        from czb_h5_stock
		join czb_h5_commodity on czb_h5_stock.commodity_id = czb_h5_commodity.commodity_id
		<where>
            czb_h5_commodity.commodity_id = #{commodityId}
            <if test="commodityTitle != null and commodityTitle != ''">
                and commodity_title = #{commodityTitle}
            </if>
            <if test="state != 3">
                and czb_h5_stock.state = #{state}
            </if>
            <if test="startTime != null and endTime != null">
                and czb_h5_stock.create_at &gt; #{startTime}
                and czb_h5_stock.create_at &lt; #{endTime}
            </if>
        </where>
    </select>

    <select id="h5StockOrderList" parameterType="com.cqut.czb.bn.entity.dto.H5StockDTO"
            resultType="com.cqut.czb.bn.entity.dto.H5StockDTO">
        select
        czb_h5_stock.stock_id stockId,
        czb_h5_stock.commodity_id commodityId,
        commodity_title commodityTitle,
        czb_h5_stock.content,
        czb_h5_stock.state,
        czb_h5_stock.create_at createAt,
        czb_h5_stock.update_at updateAt,
        czb_h5_stock.record_type recordType,
        czb_h5_stock.user_id userId,
        czb_h5_stock.price,
        czb_h5_stock.recharge_amount rechargeAmount,
        czb_user.user_account userAccount,
        czb_h5_stock.third_order thirdOrder
        from czb_h5_stock
        join czb_h5_commodity on czb_h5_stock.commodity_id = czb_h5_commodity.commodity_id
        join czb_user on czb_h5_stock.user_id = czb_user.user_id
        <where>
            czb_h5_stock.state = 2
            <if test="commodityId != null and commodityId != ''">
                and czb_h5_commodity.commodity_id = #{commodityId}
            </if>
            <if test="recordType != 3">
                and czb_h5_stock.record_type = #{recordType}
            </if>
            <if test="content != null and content != ''">
                and czb_h5_stock.content like concat('%',#{content},'%')
            </if>
            <if test="userAccount != null and userAccount != ''">
                and czb_user.user_account = #{userAccount}
            </if>
            <if test="commodityTitle != null and commodityTitle != ''">
                and commodity_title = #{commodityTitle}
            </if>
            <if test="startTime != null and endTime != null">
                and czb_h5_stock.update_at &gt; #{startTime}
                and czb_h5_stock.update_at &lt; #{endTime}
            </if>
        </where>
                order by czb_h5_stock.update_at DESC
    </select>

    <select id="h5CommodityList" parameterType="com.cqut.czb.bn.entity.dto.H5CommodityDTO"
            resultType="com.cqut.czb.bn.entity.dto.H5CommodityDTO">
        select
         commodity_id commodityId,
         commodity_title commodityTitle,
         is_delete isDelete,
         create_at createAt,
         update_at updateAt
        from czb_h5_commodity
        <where>
            1=1
            <if test="commodityTitle != null and commodityTitle != ''">
                and commodity_title = #{commodityTitle}
            </if>
            <if test="startTime != null and endTime != null">
                and create_at &gt; #{startTime}
                and create_at &lt; #{endTime}
            </if>
        </where>
    </select>

    <select id="h5CommodityStockPriceGroup" resultType="java.lang.Double">
        select
         price
        from czb_h5_stock
        where commodity_id = #{commodityId}
        group by price
    </select>


    <select id="getCommodity" resultType="com.cqut.czb.bn.entity.dto.H5CommodityDTO">
        select
            DISTINCT
            t2.price salePrice,
            t1.deduction_type deductionType,
            t1.max_deduction_amount maxDeductionAmount,
            t2.commodity_id commodityId
        from czb_integral_deduction_info t1
                 join czb_h5_stock t2 on t1.commodity_id = t2.price
        where deduction_type = 6 or deduction_type = 7
    </select>

    <select id="getTotalConsumption" parameterType="com.cqut.czb.bn.entity.dto.H5StockDTO" resultType="Double">
        select ifnull(SUM(recharge_amount), 0)
        from czb_h5_stock
        join czb_user on czb_h5_stock.user_id = czb_user.user_id
        where 1 = 1
          and `state` = 2
        <if test="recordType != 3">
            and record_type = #{recordType}
        </if>
        <if test="content != null and content != ''">
            and content like concat('%',#{content},'%')
        </if>
        <if test="userAccount != null and userAccount != ''">
            and czb_user.user_account = #{userAccount}
        </if>
        <if test="startTime != null and endTime != null">
            and (czb_h5_stock.update_at &gt;= #{startTime, jdbcType = VARCHAR} and czb_h5_stock.update_at &lt;= #{endTime, jdbcType = VARCHAR})
        </if>
    </select>

</mapper>
