<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.autoRecharge.UserRechargeMapper" >
    <select id="getBalance" resultType="java.lang.Double" parameterType="java.lang.String" >
        select offline_recharge_balance from czb_user_income_info where user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <select id="getInfoId" resultType="java.lang.String" parameterType="java.lang.String" >
        select info_id from czb_user_income_info where user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <select id="getTotalRechargeAmount" resultType="java.lang.Double" parameterType="java.lang.String" >
       SELECT sum(turnover_amount) as total
       FROM czb_petrol_sales_records
       where buyer_id = #{userId,jdbcType=VARCHAR} and record_type = 3
    </select>

    <select id="getRechargeDetails" parameterType="com.cqut.czb.bn.entity.dto.autoRecharge.UserRechargeDTO" resultType="com.cqut.czb.bn.entity.dto.OfflineRecharge.UserRecharge">
        SELECT
        record_id as recordId,
        petrol_id as petrolId,
        petrol_num as petrolNum,
        turnover_amount as turnoverAmount,
        state,
        is_recharged as isRecharged,
        transaction_time as transactionTime,
        create_at as createAt,
        update_at as updateAt
        FROM czb_petrol_sales_records
        <where>
            buyer_id = #{buyerId,jdbcType=VARCHAR}
              and record_type = 3
            <if test="petrolNum != null and petrolNum != ''">
              and   petrol_num like concat('%', #{petrolNum},'%')
            </if>
            <if test="isRecharged != null and isRecharged != -1" >
                and   is_recharged = #{isRecharged,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY transaction_time DESC

    </select>

    <insert id="insertBatchRecharge" parameterType="java.util.List" >
        insert into czb_petrol_sales_records (record_id, petrol_num, buyer_id,
          payment_method, third_order_id, turnover_amount,
          transaction_time, petrol_id, state,
          contract_id, create_at, update_at,
          record_type, is_recharged, petrol_kind,denomination,current_price)
        values
        <foreach  collection="userRecharge" item="item" index="index" separator =",">
            (#{item.recordId,jdbcType=VARCHAR},
            #{item.petrolNum,jdbcType=VARCHAR},
            #{item.buyerId,jdbcType=VARCHAR},
            #{item.paymentMethod,jdbcType=INTEGER},
            #{item.thirdOrderId,jdbcType=VARCHAR},
            #{item.turnoverAmount,jdbcType=DOUBLE},now(),
            #{item.petrolId,jdbcType=VARCHAR},
            #{item.state,jdbcType=INTEGER},
            #{item.contractId,jdbcType=VARCHAR}, now(), now(),
            #{item.recordType,jdbcType=INTEGER},
            #{item.isRecharged,jdbcType=INTEGER},
            #{item.petrolKind,jdbcType=INTEGER},
            #{item.denomination,jdbcType=DOUBLE},
            #{item.currentPrice,jdbcType=DOUBLE})
        </foreach>
    </insert>

    <insert id="insert" parameterType="com.cqut.czb.bn.entity.dto.OfflineRecharge.IncomeIog" >
        INSERT INTO `czb_income_log` ( record_id, amount, type,
        info_id, before_change_income, remark, create_at, update_at )
        VALUES (#{recordId,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE},7,
        #{infoId,jdbcType=VARCHAR},#{beforeChangeIncome,jdbcType=DOUBLE},"线下大客户消费",now(), now())
    </insert>

    <update id="updateRecharge">
        update czb_user_income_info
        <set>
            <if test="turnoverAmount != null">
                offline_recharge_balance = #{turnoverAmount}
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>

    <update id="updatePetrolNum" parameterType="com.cqut.czb.bn.entity.dto.autoRecharge.UserRechargeDTO">
        update czb_petrol_sales_records
        <set>
            <if test="petrolNum != null and petrolNum != ''">
                petrol_num = #{petrolNum,jdbcType=VARCHAR}
            </if>
        </set>
        where record_id = #{recordId,jdbcType=VARCHAR} and is_recharged = 0
    </update>
</mapper>