<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.autoRecharge.UserRechargeMapper" >
    <select id="getBalance" resultType="java.lang.Double" parameterType="java.lang.String" >
        select other_income from czb_user_income_info where user_id = #{userId,jdbcType=VARCHAR}
        GROUP BY other_income
    </select>

    <insert id="insertRecharge" parameterType="com.cqut.czb.bn.entity.dto.OfflineRecharge.UserRecharge" >
        insert into czb_petrol_sales_records (record_id, petrol_num, buyer_id,
          payment_method, third_order_id, turnover_amount,
          transaction_time, petrol_id, state,
          contract_id, create_at, update_at,
          record_type, is_recharged, petrol_kind,denomination,current_price)
        values (#{recordId,jdbcType=VARCHAR}, #{petrolNum,jdbcType=VARCHAR}, #{buyerId,jdbcType=VARCHAR},
          #{paymentMethod,jdbcType=INTEGER}, #{thirdOrderId,jdbcType=VARCHAR}, #{turnoverAmount,jdbcType=DOUBLE},
          now(), #{petrolId,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER},
          #{contractId,jdbcType=VARCHAR}, now(), now(),
          #{recordType,jdbcType=INTEGER}, #{isRecharged,jdbcType=INTEGER}, #{petrolKind,jdbcType=INTEGER},
          #{denomination,jdbcType=DOUBLE}, #{currentPrice,jdbcType=DOUBLE})
    </insert>

    <insert id="insert" parameterType="com.cqut.czb.bn.entity.dto.OfflineRecharge.UserRecharge" >
        insert into czb_user_income_info (
        info_id,
        user_id,
        fanyong_income,
        share_income,
        pay_total_rent,
        got_total_rent,
        other_income,
        create_at,
        update_at,
        withdrawed,
        total_consumption)
        values (
                #{infoId,jdbcType=VARCHAR},
                #{userId,jdbcType=VARCHAR},
                '0.00',
                '0.00',
                '0.00',
                '0.00',
                #{otherIncome,jdbcType=DOUBLE},
                CURRENT_TIMESTAMP ,
                CURRENT_TIMESTAMP,
                '0.00',
                '0.00'
        )
    </insert>

    <update id="updateRecharge" >
        update czb_user_income_info
        <set >
            <if test="turnoverAmount != null and turnoverAmount != ''">
                other_income = other_income - #{turnoverAmount,jdbcType=DOUBLE}
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
</mapper>