<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.integral.IntegralManageMapper">
    <resultMap id="BaseResultMap" type="com.cqut.czb.bn.entity.dto.integral.IntegralManageDTO" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="denomination" property="denomination" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, denomination, state, create_at, update_at
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from czb_integral_manage
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from czb_integral_manage
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.cqut.czb.bn.entity.dto.integral.IntegralManageDTO" >
        insert into czb_integral_manage (
            id,
            denomination,
            state,
            create_at,
            update_at)
        values (
            #{id,jdbcType=VARCHAR},
            #{denomination,jdbcType=INTEGER},
            #{state,jdbcType=INTEGER},
            #{createAt,jdbcType=TIMESTAMP},
            #{updateAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.dto.integral.IntegralManageDTO" >
        insert into czb_integral_manage (id, denomination, state,
        create_at, update_at, proportion)
        values (#{id,jdbcType=VARCHAR}, #{denomination,jdbcType=INTEGER}, #{state,jdbcType=INTEGER},
        now(), #{updateAt,jdbcType=TIMESTAMP}, #{proportion,jdbcType=DOUBLE})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cqut.czb.bn.entity.dto.integral.IntegralManageDTO" >
        update czb_integral_manage
        <set >
            <if test="id != null" >
                id = #{id,jdbcType=VARCHAR},
            </if>
            <if test="denomination != null" >
                denomination = #{denomination,jdbcType=INTEGER},
            </if>
            <if test="proportion != null" >
                proportion = #{proportion,jdbcType=DOUBLE},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="createAt != null" >
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null" >
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cqut.czb.bn.entity.dto.integral.IntegralManageDTO" >
    update czb_integral_manage
    set id = #{id,jdbcType=VARCHAR},
        denomination = #{denomination,jdbcType=INTEGER},
        state = #{state,jdbcType=INTEGER},
        create_at = #{createAt,jdbcType=TIMESTAMP},
        update_at = #{updateAt,jdbcType=TIMESTAMP},
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="getIntegralValueList" resultType="com.cqut.czb.bn.entity.dto.integral.IntegralManageDTO">
        select *
        from czb_integral_manage
        order by denomination asc
    </select>
</mapper>
