<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.integral.IntegralInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.czb.bn.entity.entity.integral.IntegralInfo" >
    <id column="integral_info_id" property="integralInfoId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="got_total" property="gotTotal" jdbcType="INTEGER" />
    <result column="current_total" property="currentTotal" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    integral_info_id, user_id, got_total, current_total, create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from czb_integral_info
    where integral_info_id = #{integralInfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from czb_integral_info
    where integral_info_id = #{integralInfoId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.czb.bn.entity.entity.integral.IntegralInfo" >
    insert into czb_integral_info (integral_info_id, user_id, got_total,
      current_total, create_at, update_at
      )
    values (#{integralInfoId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{gotTotal,jdbcType=INTEGER},
      #{currentTotal,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.entity.integral.IntegralInfo" >
    insert into czb_integral_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="integralInfoId != null" >
        integral_info_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="gotTotal != null" >
        got_total,
      </if>
      <if test="currentTotal != null" >
        current_total,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="integralInfoId != null" >
        #{integralInfoId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="gotTotal != null" >
        #{gotTotal,jdbcType=INTEGER},
      </if>
      <if test="currentTotal != null" >
        #{currentTotal,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.czb.bn.entity.entity.integral.IntegralInfo" >
    update czb_integral_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="gotTotal != null" >
        got_total = #{gotTotal,jdbcType=INTEGER},
      </if>
      <if test="currentTotal != null" >
        current_total = #{currentTotal,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where integral_info_id = #{integralInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.czb.bn.entity.entity.integral.IntegralInfo" >
    update czb_integral_info
    set user_id = #{userId,jdbcType=VARCHAR},
      got_total = #{gotTotal,jdbcType=INTEGER},
      current_total = #{currentTotal,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where integral_info_id = #{integralInfoId,jdbcType=VARCHAR}
  </update>
</mapper>
