<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.vehicleService.CleanServerVehicleMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.czb.bn.entity.entity.vehicleService.CleanServerVehicle" >
    <id column="vehicle_id" property="vehicleId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="license_number" property="licenseNumber" jdbcType="VARCHAR" />
    <result column="vehicle_color" property="vehicleColor" jdbcType="VARCHAR" />
    <result column="vehicle_type" property="vehicleType" jdbcType="TINYINT" />
    <result column="vehicle_series" property="vehicleSeries" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="service_location" property="serviceLocation" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    vehicle_id, user_id, user_name, license_number, vehicle_color, vehicle_type, vehicle_series, 
    create_at, update_at, service_location
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from czb_clean_server_vehicle
    where vehicle_id = #{vehicleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from czb_clean_server_vehicle
    where vehicle_id = #{vehicleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.czb.bn.entity.entity.vehicleService.CleanServerVehicle" >
    insert into czb_clean_server_vehicle (vehicle_id, user_id, user_name, 
      license_number, vehicle_color, vehicle_type, 
      vehicle_series, create_at, update_at, 
      service_location)
    values (#{vehicleId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{licenseNumber,jdbcType=VARCHAR}, #{vehicleColor,jdbcType=VARCHAR}, #{vehicleType,jdbcType=TINYINT}, 
      #{vehicleSeries,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{serviceLocation,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.entity.vehicleService.CleanServerVehicle" >
    insert into czb_clean_server_vehicle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vehicleId != null" >
        vehicle_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="licenseNumber != null" >
        license_number,
      </if>
      <if test="vehicleColor != null" >
        vehicle_color,
      </if>
      <if test="vehicleType != null" >
        vehicle_type,
      </if>
      <if test="vehicleSeries != null" >
        vehicle_series,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="serviceLocation != null" >
        service_location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vehicleId != null" >
        #{vehicleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="licenseNumber != null" >
        #{licenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="vehicleColor != null" >
        #{vehicleColor,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null" >
        #{vehicleType,jdbcType=TINYINT},
      </if>
      <if test="vehicleSeries != null" >
        #{vehicleSeries,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceLocation != null" >
        #{serviceLocation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.czb.bn.entity.entity.vehicleService.CleanServerVehicle" >
    update czb_clean_server_vehicle
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="licenseNumber != null" >
        license_number = #{licenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="vehicleColor != null" >
        vehicle_color = #{vehicleColor,jdbcType=VARCHAR},
      </if>
      <if test="vehicleType != null" >
        vehicle_type = #{vehicleType,jdbcType=TINYINT},
      </if>
      <if test="vehicleSeries != null" >
        vehicle_series = #{vehicleSeries,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceLocation != null" >
        service_location = #{serviceLocation,jdbcType=VARCHAR},
      </if>
    </set>
    where vehicle_id = #{vehicleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.czb.bn.entity.entity.vehicleService.CleanServerVehicle" >
    update czb_clean_server_vehicle
    set user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      license_number = #{licenseNumber,jdbcType=VARCHAR},
      vehicle_color = #{vehicleColor,jdbcType=VARCHAR},
      vehicle_type = #{vehicleType,jdbcType=TINYINT},
      vehicle_series = #{vehicleSeries,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      service_location = #{serviceLocation,jdbcType=VARCHAR}
    where vehicle_id = #{vehicleId,jdbcType=VARCHAR}
  </update>
</mapper>