<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.czb.bn.dao.mapper.food.DishMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.czb.bn.entity.entity.food.Dish" >
    <id column="dish_id" property="dishId" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="dish_name" property="dishName" jdbcType="VARCHAR" />
    <result column="dish_type" property="dishType" jdbcType="INTEGER" />
    <result column="supply_time" property="supplyTime" jdbcType="VARCHAR" />
    <result column="is_sale" property="isSale" jdbcType="INTEGER" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="original_price" property="originalPrice" jdbcType="DOUBLE" />
    <result column="current_price" property="currentPrice" jdbcType="DOUBLE" />
    <result column="vip_price" property="vipPrice" jdbcType="DOUBLE" />
    <result column="file_id" property="fileId" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="is_recommend" property="isRecommend" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    dish_id, shop_id, dish_name, dish_type, supply_time, is_sale, label, original_price, 
    current_price, vip_price, file_id, create_at, update_at, is_recommend
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from czb_dish
    where dish_id = #{dishId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from czb_dish
    where dish_id = #{dishId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cqut.czb.bn.entity.entity.food.Dish" >
    insert into czb_dish (dish_id, shop_id, dish_name, 
      dish_type, supply_time, is_sale, 
      label, original_price, current_price, 
      vip_price, file_id, create_at, 
      update_at, is_recommend)
    values (#{dishId,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, #{dishName,jdbcType=VARCHAR}, 
      #{dishType,jdbcType=INTEGER}, #{supplyTime,jdbcType=VARCHAR}, #{isSale,jdbcType=INTEGER}, 
      #{label,jdbcType=VARCHAR}, #{originalPrice,jdbcType=DOUBLE}, #{currentPrice,jdbcType=DOUBLE}, 
      #{vipPrice,jdbcType=DOUBLE}, #{fileId,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, 
      #{updateAt,jdbcType=TIMESTAMP}, #{isRecommend,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cqut.czb.bn.entity.entity.food.Dish" >
    insert into czb_dish
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dishId != null" >
        dish_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="dishName != null" >
        dish_name,
      </if>
      <if test="dishType != null" >
        dish_type,
      </if>
      <if test="supplyTime != null" >
        supply_time,
      </if>
      <if test="isSale != null" >
        is_sale,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="originalPrice != null" >
        original_price,
      </if>
      <if test="currentPrice != null" >
        current_price,
      </if>
      <if test="vipPrice != null" >
        vip_price,
      </if>
      <if test="fileId != null" >
        file_id,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="isRecommend != null" >
        is_recommend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dishId != null" >
        #{dishId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="dishName != null" >
        #{dishName,jdbcType=VARCHAR},
      </if>
      <if test="dishType != null" >
        #{dishType,jdbcType=INTEGER},
      </if>
      <if test="supplyTime != null" >
        #{supplyTime,jdbcType=VARCHAR},
      </if>
      <if test="isSale != null" >
        #{isSale,jdbcType=INTEGER},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=DOUBLE},
      </if>
      <if test="currentPrice != null" >
        #{currentPrice,jdbcType=DOUBLE},
      </if>
      <if test="vipPrice != null" >
        #{vipPrice,jdbcType=DOUBLE},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqut.czb.bn.entity.entity.food.Dish" >
    update czb_dish
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="dishName != null" >
        dish_name = #{dishName,jdbcType=VARCHAR},
      </if>
      <if test="dishType != null" >
        dish_type = #{dishType,jdbcType=INTEGER},
      </if>
      <if test="supplyTime != null" >
        supply_time = #{supplyTime,jdbcType=VARCHAR},
      </if>
      <if test="isSale != null" >
        is_sale = #{isSale,jdbcType=INTEGER},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DOUBLE},
      </if>
      <if test="currentPrice != null" >
        current_price = #{currentPrice,jdbcType=DOUBLE},
      </if>
      <if test="vipPrice != null" >
        vip_price = #{vipPrice,jdbcType=DOUBLE},
      </if>
      <if test="fileId != null" >
        file_id = #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isRecommend != null" >
        is_recommend = #{isRecommend,jdbcType=INTEGER},
      </if>
    </set>
    where dish_id = #{dishId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.czb.bn.entity.entity.food.Dish" >
    update czb_dish
    set shop_id = #{shopId,jdbcType=VARCHAR},
      dish_name = #{dishName,jdbcType=VARCHAR},
      dish_type = #{dishType,jdbcType=INTEGER},
      supply_time = #{supplyTime,jdbcType=VARCHAR},
      is_sale = #{isSale,jdbcType=INTEGER},
      label = #{label,jdbcType=VARCHAR},
      original_price = #{originalPrice,jdbcType=DOUBLE},
      current_price = #{currentPrice,jdbcType=DOUBLE},
      vip_price = #{vipPrice,jdbcType=DOUBLE},
      file_id = #{fileId,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      is_recommend = #{isRecommend,jdbcType=INTEGER}
    where dish_id = #{dishId,jdbcType=VARCHAR}
  </update>
</mapper>